.view__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.delete,
.edit {
  margin-left: 5px;
  cursor: pointer;
}

.view__userImg {
  border-radius: 50%;
  margin-right: 8px;
}
